# Guide
This notebook is just to check the conexion between Colab and BigQuery

# Preconfiguration
To execute - First create a service account and save in Google Drive, after change next data

In [ ]:
#Modify after MyDrive providing folders and file name
service_account_location = "drive/MyDrive/Ideas/movilidad/vacio-276411-service_account_for_colab.json"

# Imports

In [ ]:
#BIGQUERY IMPORTS
from google.cloud import bigquery #For bigquerycredentials
from google.oauth2 import service_account #For credentials


##Mount access to Drive
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

#Set credentials as global
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=service_account_location

# Construct a BigQuery client object.
client = bigquery.Client()

Mounted at /content/drive

# Execution

In [ ]:
query = """
    SELECT * FROM `vacio-276411.mainDataset.V1_model_data_cluster_hour_total_trips_initiated`
"""
df = client.query(query).to_dataframe()

In [ ]:
df

       clusterLatitude_start clusterLongitude_start  hour_start  trips
0                     40.485                 -3.715           0      1
1                     40.452                 -3.706           0      1
2                     40.422                 -3.686           0      1
3                     40.442                 -3.716           0      1
4                     40.442                 -3.676           0      2
...                      ...                    ...         ...    ...
709134                40.432                 -3.706          23      2
709135                40.472                 -3.676          23      1
709136                40.432                 -3.706          23      2
709137                40.442                 -3.696          23     16
709138                40.432                 -3.686          23      1

[709139 rows x 4 columns]

In [ ]:
latitude_len = len(df['clusterLatitude_start'].unique())
longitude_len = len(df['clusterLongitude_start'].unique())
hour_start_len = len(df['hour_start'].unique())

print('[DIFERENT ITEMS] Latitude: ' + str(latitude_len) + ' Longitude: ' + str(longitude_len) + ' Hours: ' + str(hour_start_len))
print('POSIBILITIES: ' + str( latitude_len * latitude_len * hour_start_len ))
print('ITEMS PER OPTION: ' + str(len(df)/(latitude_len * longitude_len * hour_start_len)) )

[DIFERENT ITEMS] Latitude: 42 Longitude: 48 Hours: 24
POSIBILITIES: 42336
ITEMS PER OPTION: 14.656477347883598